<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.mwater.opencvapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- <activity
            android:name="co.mwater.opencvapp.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
            </intent-filter>
        </activity>-->
        <activity
            android:name="co.mwater.opencvapp.OpenCVActivity"
	        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
	        android:screenOrientation="landscape"
	        android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/title_activity_open_cv" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>